<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Welcome to the Dashboard</h1>

    <% if (user) { %>
        <p>Hello, <%= user.username %>!</p>
        <p>Your email is: <%= user.email %></p>
    <% } %>

    <a href="/auth/logout">Logout</a>
</body>
</html>
